header{
    background-color: #905045;
}
.nav_bar{
    background-color: #A06346;
}
body{
    background-color: #D79E66;
}
.container{
    background-color: #E4BB7E;
}

.container1{
    background-color: #4E4C48;
    color: white;
}
footer{
    background-color: #905045;
}
.input-group-btn{
    background-color: white;
}

