header{
    /* background-color: #905045; */
    background-color: #000000;
    
}
.nav_bar{
    background-color: #A06346;
}
.body{
    background-color: #D79E66;
    font-size: 200px;
}
.container-xl{
    background-color: white;
}
