* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow-x: hidden;
}

header div.first_container, footer{
    background-color: #905045;
}

body {
    background-color: #D79E66;
}

header div.nav_bar{
    background-color: #A06346;
}

.card{
    background-color: #E4BB7E;
}